body{
            font-family: Lucida Sans;
            color: white;
            background: linear-gradient(
                rgba(0,0,0,0.65),rgba(0,0,0,0.65),rgba(0,0,0,0.35),rgba(0,0,0,0)
                )
                ,url(food.jpg);
                background-repeat: no-repeat;
                background-size: cover;
        }

        .box{
            width: 700px;
            border: 3px solid black;
            float: right;
        }

        .box ul li{
            width: 150px;
            float: left;
            margin: 10px auto;
            text-align: center;
        }

        .box ul li{ text-decoration: none;
        color: rgb(255, 251, 251);
        font-size: 20px;}

        .box ul li:hover{ background-color: rgb(21, 74, 171);}
        .box ul li a:hover{ color: rgb(255, 255, 255);}

        a:any-link{
            color: rgb(255, 255, 255);
            text-decoration: none;
            size: 120px;
            font-size: 20px;
        }

        .name{width: 900px;
            align-items: center;
            justify-content: center;
            float: right;
            font-size: xx-large;
            font-weight: normal;
        }
        .name h1{
            padding-right: 150px;
            padding-top: 120px;
            padding-bottom: 20px;
            text-align: center;
            line-height: 10px;
            align-items: center;
            justify-content: center;
            
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: oblique;
            color:white;
        }

        .wd{
            width: 300px;
            height: 650px;
            background-color: black;
            opacity: 0.9;
            padding: 55px;
        }

        .wd h1{
            text-align: center;
            text-transform: uppercase;
            font-weight: 100px;
        }

        .wd h4{
            text-align: justify;
            color: darkgray;
            font-weight: normal;
            margin: -10px auto;
        }

        .wd h2{
            text-align: center;
            text-transform: uppercase;
            font-weight: normal;
            margin: 40px auto;
        }

        .opt form , input[type="button"]{
            background-color: black;
            color: black;
            padding: 10px;
            margin: 20px auto;
            padding-left: 50px;
            padding-right: 50px;
            text-align: center;
            font-weight: 700;
        }
        form, input[type="button"]{
            background-color: white;
        }

        form, input[type="button"]:hover{background-color: green;}
